[user]
	name = Tomáš Rohlínek
	useConfigOnly = true
[commit]
	gpgsign = true
[credential]
	helper = libsecret
	username = tomas.rohlinek@espressif.com
[submodule]
	recurse = false
[rerere]
	autoUpdate = true
	enabled = true
[maintenance]
	repo = /home/tom/esp-idf
[alias]
	adog = log --all --decorate --oneline --graph
	pullsub = ! git pull && git submodule update --init --recursive

[include]
	path = ~/.gitconfig.identity

